
@media (max-width: 768px) { 
    .column-isbn, .column-published {
      display: none;
    }
  }
  
  @media (max-width: 576px) { 
    .column-author {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .column-thumbnail, .column-actions {
      display: none;
    }
  }