@import "tailwindcss";

@layer base {
    body {
        @apply antialiased text-slate-900 bg-[#F8F9FA] select-none;
        -webkit-tap-highlight-color: transparent;
    }

    /* Prevent mobile zooming */
    input,
    select {
        font-size: 16px !important;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
